<h1>See what you have to do:</h1>

<p>Title: <%= @task.title %></p>
<p>Details: <%= @task.details %></p>

<p><%= link_to "Remove Task", task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure to remove ?"} %></p>
<p><%= link_to "Add a new task", new_path(@task) %></p>
<p><%= link_to "See all tasks", tasks_path(@task) %></p>
